* 
        body{
            background-image:url('imagenes/imagen.jpg') ;;
            
        }
        div{
            background-color: rgba(239, 241, 75, 0.548);
            border: 1px solid rgb(197, 30, 30);
            padding: 12px;
            width: 60%;
            margin: 0 auto;
        }
        fieldset{
            margin-bottom: 12px;
        }
        legend{
            background-color: #81d83a81;
            padding: 5px;
            border-radius: 20px;
            font-weight: bold;
        }
        img{
            border-radius: 50%;
            margin-bottom: 12px;
            margin-right: 30px;
            float: left;
        }
        span{
            font-weight: bold;
        }